cos_similarity.py
example modified.png
example.png
image to imgplot.py
image to numpy array.py
importowany test.py
indexing_checks.py
numpy indexing.py
opening and showing with PIL only.py
opis zadania.odt
